/*MIX*/
.p_top_50 {
  padding-top: 50px;
}
.p_bottom_50 {
  padding-bottom: 50px;
}
.p_top_30 {
  padding-top: 30px;
}
.p_bottom_30 {
  padding-bottom: 30px;
}
.p_top_20 {
  padding-top: 20px;
}
.p_bottom_20 {
  padding-bottom: 20px;
}
.m_top_20 {
  margin-top:20px;
}
.m_bottom_20 {
  margin-bottom:20px;
}
/* /MIX*/

/* HEADER */
.header_top {
  height: 80px;
  width:100%;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo {
  height: 80px;
  background-color:blue;
}
.main_menu {
  height: 80px;
  background-color: green;
}
.menu_sign {
  height: 80px;
  background-color: yellow;
}
.ham_bars {
  height: 80px;
  background-color: orange;
}
.line_height {
  line-height: 80px;
}
.relative {
  position: relative;
}
/* jumbotron */
.jumbo {
  margin-top: 80px;
  width:100%;
  height: 350px;
  background-color: lightblue;
}
.title {
  background-color: pink;
}
.form {
  background-color: #fff;
}
/* /HEADER */

/* MAIN */
/*customer*/
.customers {
  width:100%;
  height: 150px;
  background-color: #F3F5F9;
}
/* /customers*/
/*deploy*/
.deploy {
  background-color: orange;
}
.process {
  background-color: grey;
}
.resume {
  background-color: blue;
}
.cluster {
  background-color: beige;
}
.comput {
  background-color: brown;
}
.apps {
  background-color: yellow;
}
.availability {
  background-color: pink;
}
/* /deploy*/

/* developers*/
.developers {
  height: 300px;
  background-color: yellow;
}
.developer {
  position:relative;
}
.image {
  height: 80px;
  background-color: blue;
  width:50%;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
.image::before {
  font-family: "Font Awesome 5 Free";
  content:"\f104";
  display: inline-block;
  vertical-align: middle;
}
/* /developers*/
/* features*/
.features {
  background-color: green;
}
.pricing {
  height:80px;
  background-color: yellow
}
.service {
  height:80px;
  background-color: red;
}
.platform {
  height:80px;
  background-color: grey;
}
/* /features*/
/* world */
.world {
  background-color: red;
}
/* /world */

/* love*/
.love {
  background-color: grey;
  height: 300px;
}
/* /love*/
