/*MIX*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.border_radius {
  border-radius: 5px;
}
.font_bold {
  font-weight:bold;
}

.font_weight {
  font-weight: 500;
}
.font_white {
  color:#fff;
}
.font_grey {
  color:#848FA7;
  }
.font_darkblue {
  color:#031b4e;
}
.font_lgblue {
  color:#BBCDFF;
}
.font_blue {
  color: #006AFF;
}
.font_24 {
  font-size: 24px;
}
.font_20 {
  font-size: 20px;
}
h1 {
  font-size: 58px;
}
h3 {
  font-size: 32px;
}
.line_height {
  line-height: 80px;
}
.p_top_50 {
  padding-top: 50px;
}
.p_bottom_50 {
  padding-bottom: 50px;
}
.p_top_30 {
  padding-top: 30px;
}
.p_bottom_30 {
  padding-bottom: 30px;
}
.p_top_20 {
  padding-top: 20px;
}
.p_bottom_20 {
  padding-bottom: 20px;
}
.m_top_20 {
  margin-top:20px;
}
.m_bottom_20 {
  margin-bottom:20px;
}
.relative {
  position: relative;
}
/* /MIX*/

/* HEADER */
.header_top {
  height: 80px;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}
.logo {
  max-width: 70%;
  height: auto;
}
.header_top a {
  color: #031b4f;
}
.header_top a:hover {
  color: #006AFF;
  text-decoration: none;
}
#sign {
  color: #006AFF;
  border-color: #006AFF;
  font-size: 16px;
}
#sign:hover {
  background-color: #006AFF;
  color: #fff;
}
.fa-bars {
  color: #006AFF;
}
/* jumbotron */
.jumbo {
  margin-top: 80px;
  background-image: linear-gradient(#0048C5, #001E99);
  padding: 20px;
}
.title {
  opacity: 1;
}
.font_form {
  color: #757575;
}
.form {
  background-color: #fff;
  padding-left:20px;
  padding-right: 20px;
}
.form-control:focus {
  border-color: #006AFF;
  box-shadow: none;
}
.create {
  width: 100%;
  background-color: #006AFF;
  color: #fff;
}
.create:hover {
  background-color: #006AFF;
  color: #fff;
}
.sign {
  width: 100%;
  color: #626262;
  margin: 10px 0;
}
.sign:hover {
  background-color: #fff;
  color: #626262
}
.lh_form {
  line-height: 40px;
}
small {
  color: #000;
}
.terms {
  text-decoration: underline;
  color: #006AFF;
}
@media screen and (max-width:992px) {
  h1 {
    font-size: 42px;
  }
  .jumbo {
    padding: 30px;
  }
}
@media screen and (min-width:769px) and (max-width:992px) {
  .business img {
    max-width:100%;
  }
}
/* /HEADER */

/* MAIN */
/*customer*/
.customers {
  background-color: #F3F5F9;
}
.angle {
  text-decoration: none;
  color: #006AFF;
  font-size: 14px;
}
/* /customers*/
/*deploy*/
.deploy p {
  color: #5C6A88;
  font-weight: 500;
}
.deploy ul {
  line-height: 40px;
  border-left: 1px solid #848FA7;
  font-size: 20px;
  padding-left: 7px;
}
.wrapper_small {
  max-width:70%;
  margin:auto;
}
@media screen and (max-width:768px) {
  .wrapper_small {
    max-width: 1170px;
    margin: auto;
  }
  .cluster {
    margin-top: 15px;
  }
}

/* /deploy*/

/* developers*/
.developers {
  height: 300px;
  background-color: yellow;
}
.developer {
  position:relative;
}
.image {
  height: 80px;
  background-color: blue;
  width:50%;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
.image::before {
  font-family: "Font Awesome 5 Free";
  content:"\f104";
  display: inline-block;
  vertical-align: middle;
}
/* /developers*/
/* features*/
.features {
  background-color: green;
}
.pricing {
  height:80px;
  background-color: yellow
}
.service {
  height:80px;
  background-color: red;
}
.platform {
  height:80px;
  background-color: grey;
}
/* /features*/
/* world */
.world {
  background-color: red;
}
/* /world */

/* love*/
.love {
  background-color: grey;
  height: 300px;
}
/* /love*/
/* /MAIN*/

/* FOOTER*/
footer {
  background-color: #010E28;
}
.copy {
  background-color: orange;
  height: 90px;
}
.big_menu {
  background-color: pink;
  height: 120px;
}
.company {
  background-color: lightblue;
  height:100px;
}
.products {
  background-color: lightgreen;
  height:100px;
}
.community {
  background-color: white;
  height:100px;
}
.support {
  background-color: purple;
  height:100px;
}

/* /FOOTER*/
