.form-control:focus {
  border-color: #006AFF;
  box-shadow: none;
}
.create {
  width: 100%;
  background-color: #006AFF;
  color: #fff;
}
.create:hover {
  background-color: #006AFF;
  color: #fff;
}
.sign {
  width: 100%;
  color: #626262;
}
.sign:hover {
  background-color: #fff;
  color: #626262
}
.fa-google {
  position: absolute;
  left: 3%;
}
.google {
  text-align: center;
}
#google {
  text-align: left;
}
